* {
  margin: 0;
  padding: 0;
  font-family: 'Stick No Bills', sans-serif;
  text-shadow: 0 10px 1.5rem rgb(214, 48, 19);
  color: white;
}

body {
  background-image: url('./img/honey.jpg');
}

#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  left: -1500px;
  transition: 500ms;
}

#game div {
  border: 4px solid;
  border-image: linear-gradient(to right bottom, hsl(0, 100%, 50%), hsl(192, 100%, 50%)) 1;
  width: 150px;
  height: 200px;
  /* width: 22vw;
  height: 18vw; */
  background-image: linear-gradient(to right bottom, hsl(0, 100%, 50%), hsl(192, 100%, 50%));
  background-position: center;
  margin: 10px;
  border-radius: 1rem;
  display: inline-block;
  transition: 300ms ease-in-out;
}

h1 {
  text-align: center;
  padding: 3rem 0;
}

.flip {
  transform: rotateY(180deg);
}

.backDrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(128, 128, 128, 0.466);
  display: flex;
  justify-content: center;
  align-items: center;
}

.backDrop>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, rgba(221, 0, 255, 1), rgba(136, 0, 255, 1), rgba(129, 66, 255, 1));
  color: white;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-shadow: 0 10px 20px rgb(255, 0, 0);
}

.backDrop>div>div {
  display: flex;
  justify-content: space-around;
}

button {
  cursor: pointer;
  border: none;
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 20px;
  margin: 0px 5px
}

button:hover {
  box-shadow: 0 0 50px rgb(247, 245, 245);
  color: rgb(2, 0, 0);
  font-weight: 700;
}
#main-btn2{
  display: none;
}
.scoreCard {
  margin: 2rem 3rem;
  animation-name: bounce;
  animation-duration: 4s;
}

.scoreCard>div {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 600;
}

select {
  cursor: pointer;
  border: none;
  background-color: #04AA6D;
  color: rgb(0, 0, 0);
  font-size: 20px;
  /* padding: .5rem 2rem;  */
  text-align: center;
  border-radius: 20px;
  margin-bottom: 2rem;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-300px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@media screen and (max-width:768px) {
  #game div {
    width: 15vw;
    height: 18vw;
  }
  .scoreCard>div{
    font-size: 1vw;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .scoreCard{
    margin: 0 15px;
  }
  h2, h3{
    font-size: medium;
  }
}